# {{ ansible_managed }}

[ml2]
type_drivers = flat,vlan,vxlan,local
tenant_network_types = vxlan,flat
mechanism_drivers = openvswitch,linuxbridge,l2population
extension_drivers = port_security
path_mtu = 0
segment_mtu = 0

[ml2_type_flat]
flat_networks = *

[ml2_type_vxlan]
vxlan_group =
vni_ranges = 1:1000
[securitygroup]
enable_security_group = True
enable_ipset = True
